<div class="user-show">
  <div class="profile">
    <table>
      <tr>
        <td colspan="2" class="profile-title">プロフィール</td>
      </tr>
      <tr>
        <th>ユーザー名</th>
        <td><%= @user.nickname %></td>
      </tr>
      <tr>
        <th>年齢</th>
        <td><%= @user.age %>歳</td>
      </tr>
      <tr>
        <th>身長</th>
        <td><%= @user.height %>cm</td>
      </tr>
      <tr>
        <th>体重</th>
        <td><%= @user.weight %>kg</td>
      </tr>
      <tr>
        <th>基礎代謝</th>
        <td><%= @user.bmr %>kcal</td>
      </tr>
      <tr>
        <td colspan="2" class="introduce">自己紹介</td>
      </tr>
      <tr>
        <td colspan="2" class="introduce-content"><%= @user.introduction %></td>
      </tr>
    </table>
    <div class="profile-button">
      <%= link_to "ユーザー情報を編集する", edit_user_registration_path, data: {"turbolinks"=>false} %>
    </div>
  </div>
  <div class="motion-result">
    <div class="user-motions">最新のトレーニング記録</div>
    <% @motions.each do |motion| %>
    <table>
      <tr> 
        <td colspan="2" class="create-motion"><%= l motion.created_at %></td>
      </tr>
      <tr>
        <td class="motion-title">トレーニングメニュー</td>
        <td class="motion-title">時間</td>
      </tr>
      <tr>
        <th>ランニング</th>
        <td><span id="run-user"><%= motion.run %></span> 分</td>
      </tr>
      <tr>
        <th>腹筋</th>
        <td><span id="abs-user"><%= motion.abs %></span> 分</td>
      </tr>
      <tr>
        <th>スクワット</th>
        <td><span id="squat-user"><%= motion.squat %></span> 分</td>
      </tr>
      <tr>
        <th>腕立て</th>
        <td><span id="push-ups-user"><%= motion.push_ups %></span> 分</td>
      </tr>
      <tr>
        <th>背筋</th>
        <td><span id="spine-user"><%= motion.spine %></span> 分</td>
      </tr>
    </table>
    <div class="profile-button">
      <%= link_to "詳細を見る",  motion_path(motion), data: {"turbolinks"=>false} %>
    </div>
    <% end %>
  </div>
</div>