<div class="user-show">
  <div class="profile">
    <table>
      <tr>
        <td colspan="2" class="profile-title">プロフィール</td>
      </tr>
      <tr>
        <th>ユーザー名</th>
        <td><%= @user.nickname %></td>
      </tr>
      <tr>
        <th>年齢</th>
        <td><%= @user.age %>歳</td>
      </tr>
      <tr>
        <th>身長</th>
        <td><%= @user.height %>cm</td>
      </tr>
      <tr>
        <th>体重</th>
        <td><%= @user.weight %>kg</td>
      </tr>
      <tr>
        <th>基礎代謝</th>
        <td><%= @user.bmr %>kcal</td>
      </tr>
      <tr>
        <td colspan="2" class="introduce">自己紹介</td>
      </tr>
      <tr>
        <td colspan="2" class="introduce-content"><%= @user.introduction %></td>
      </tr>
    </table>
    <div class="profile-button">
      <%= link_to "ユーザー情報を編集する", edit_user_registration_path, data: {"turbolinks"=>false} %>
    </div>
  </div>
  <div class="motion-result">
    <table>
      <tr>
        <td class="motion-title">トレーニングメニュー</td>
        <td class="motion-title">距離/回数</td>
        <td class="motion-title">消費カロリー</td>
      </tr>
      <tr>
        <th>ランニング</th>
        <td>10km</td>
        <td>1000kcal</td>
      </tr>
      <tr>
        <th>腹筋</th>
        <td>100回</td>
        <td>1000kcal</td>
      </tr>
      <tr>
        <th>スクワット</th>
        <td>100回</td>
        <td>1000kcal</td>
      </tr>
      <tr>
        <th>腕立て</th>
        <td>100回</td>
        <td>1000kcal</td>
      </tr>
      <tr>
        <th>背筋</th>
        <td>100回</td>
        <td>1000kcal</td>
      </tr><tr>
        <th colspan="2">合計</th>
        <td>5000kcal</td>
      </tr>
    </table>
    <div class="profile-button">
      <%= link_to "トレーニングをする", edit_user_registration_path, data: {"turbolinks"=>false} %>
    </div>
  </div>
</div>