<div class="response">
  <div class="sign-in">
    <div class="sign-up-title">ユーザー情報入力</div>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email, "メールアドレス", class: "sign-up-text" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'sign-up-form' %>
      </div>

      <div class="field">
        <%= f.label :password, "パスワード", class: "sign-up-text"  %><br />
        <%= f.password_field :password, autocomplete: "current-password", class: 'sign-up-form' %>
      </div>

      <div class="actions">
        <%= f.submit "ログイン", class: "sign-up-submit" %>
      </div>
    <% end %>

      <div class="sign-up-link">
        <%= render "devise/shared/links" %>
      </div>
  </div>
</div>
